*  {
margin: 20;
padding: 24;
box-sizing: border-box;
list-style: none;



}
ol  {
    --color1: #e1a1ae;
  --color2: #a54e5d;
  --color3: #923d4b;
  --color4: #c24257;
  --color5:  #77212f;
  background-color: var(--color1);
  padding: 15px;
}
ol li  {
    background-color: var(--color2);
    color: #fff;
    margin-top: 10pxs;
    display: flex;
    justify-content: flex-start;  
    align-items: center;
    width: 100%;
    border:solid  #ba6976, 5px;
    color: white;
}

.num  {
    padding: 10px 14px;
}
.list{
    background-color:  var(--color3);
    width: max-content;
    padding: 10px 20px;
}
li.even   {
    background-color: #923d4b;
    width: 100%;
}
