.block  {

   
    font-size: 40px;
  
    
    text-align: center;
}


h1  {
   
    font-size: 40px;
    text-align: center;
    font-style: normal;
   
}
h2  {
    color: black;
    font-size: 40px;
    text-align: center;

}
p  {
    font-size: 30px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}