*{
    box-sizing: border-box;
}





body{
    height: 100px;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.card-wrapper  {
    width: 751px;
    height: 381px;
    /*border: 1px solid grey;*/
    position: relative;
}

.card-back, .card-front  {
    width: 535px;
    height: 343px;
    border: 1px solid grey;
    border-radius: 15px;
    position: absolute;
    background: linear-gradient(to top left, #706f6f, #000);
    
}

.card-back  {
    right: 0;
    bottom: 0;
    background: #ececec;
}

.card-front  {
    background: white;
    background: rgb(122, 122, 117);
    
}

.card-back-line  {
    width: 100%;
    height: 70px;
    background: #c0c0c0;
    position: absolute;
    top: 50px;
}

#cvv {
    position: absolute;
    right: 25px;
    bottom: 150px;
    width: 53px;
    padding: 5px;
    font-size: 25px;
    text-align: center;
}

.card-image {
    height: 40px;
    width: 45px;
    position:absolute;
    right: 20px;
    top: 40px;
   
}

.card-logo  {
    height: 50px;
    position:absolute;
    bottom: 50px;
    right: 45px;    
}


#card-number  {
    position:absolute;
    width: 85%;
    margin: 0 6%;
    background: #e0dddd;
    font-size: 35px;
    padding: 8px;
    border: none;
    top: 145px;
    outline: none;
    }

    .container{
        display: flex;
        justify-content: center;
        height: 100%;
    }

    .front-header{
        border-color: #000;
        align-items: center;        
        font-size: 25px;
        padding: 8px;
        border: none; 
        word-spacing: 10px;     
    }

    .footer_holder-name{
        top: 145px;
        margin-top: 45px;
        align-items: center;
        height: 40px;
        text-align:center;
    width: 35px;
    display: flex;
    font-size: 25px;
    padding: 85px;
    justify-content: center;
    padding-inline-start: 5rem;
    overflow: hidden;
   
  
    
   
    }

    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 2rem;
    }

    
    .chip{
        width: 4rem;
        height: 2rem;
        border-radius: 4px;
        background-color: #efe05fdd;
        position: absolute;
        left: 18px;
        bottom: 150px;
        width: 45px;
        margin-top: 50px;
        font-size: 25px;
        text-align: center;
        top: 40px;
        /*bottom: 40px;
        right: 45px; 
        /*padding: 10px;
        left: 40px;*/
        /*top: 40px;*/

    }

    #card-to-year, #card-to-month  {
        position: absolute;
        background: #e0dddd;
        font-size: 25px;
        padding: 6px;
        outline: none;
        border: none;
        width: 60px;
        text-align: center;
        bottom: 40px;
        left: 5%;
       margin-bottom: 40px;
    }

    #card-to-year {
        left: 20%;

    }



























/*.card-wrapper  {
    width: 751px;
    height: 381px;
    /*border: 1px solid grey;*/ 
    /*position: relative;
}

.card-back, .card-front  {
    width: 535px;
    height: 343px;
    border: 1px solid grey;
    border-radius: 15px;
}

.card-back  {
    right: 0;
    bottom: 0;
    background: #ececec;
}

.card-front  {
    background: white;
}

.card-back-line  {
    width: 71%;
    height: 80px;
    background: #c0c0c0;
    position: absolute;
    top: 50px;

}

#cvv  {
    position: absolute;
    right: 40px;
    bottom: 112px;
    width: 100px;
    padding: 5px;
    font-size: 40px;

}











